<div class="row-fluid">
  <div class="span12">
    <h2 class="heading">Calendar</h2>
    <div id="calendar"></div>
  </div>
</div>
<% content_for :scripts do %>
  <script type="text/javascript">
    <%= render partial: 'calendar_js' %>
  </script>
<% end %>
