<div class="row-fluid">
  <div class="span10">
    <table>
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        <% @lists.each do |list| %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
